.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
    color: var(--primary-one);
    font-size: 2.5em;
    margin-bottom: 20px;
    background-color: var(color-close-to-purple-but-more-lighter);

}
.paragraph{
    color: var(--primary-one);
}
